@if ( $font--provider == 'Google Fonts' ) {
    @import url('https://fonts.googleapis.com/css?family=#{$font--import}&display=swap');
}
@font-face {
    font-family: 'IranSans';
    src: url("../../../Fonts/IranSans/fonts/ttf/IRANSansWeb.ttf");
}
@font-face {
    font-family: 'IranYekan';
    src: url("../../../Fonts/IranYekan/IRANYekanMobileRegular.ttf");
}